/node_modules/
/npm-debug.log
/.idea

/e2e/mini/docs/
/e2e/mini/node_modules/
/e2e/mini/npm-debug.log
/e2e/mini/dist/
/e2e/mini/test/
/e2e/mini/dev/

/e2e/maxi/docs/
/e2e/maxi/node_modules/
/e2e/maxi/npm-debug.log
/e2e/maxi/dist/
/e2e/maxi/test/
/e2e/maxi/dev/
/e2e/maxi/reports/